<!-- footer.component.html -->
<footer>
  <div class="social-media">
    <a href="https://twitter.com/PADMANABHUNIVE3" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/PadmanabhuniVeeraVenkataMaheshKumar" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/mahesh_padmanabhuni_671/" target="_blank"><i class="fab fa-instagram"></i></a>
    <!-- Add more social media links as needed -->
  </div>
  <div class="copyright">
    &copy; 2023 Your Ece Educational Club. All rights reserved.
  </div>
</footer>
