.custom-container {
    border: 1px solid #ccc; /* Border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 10px; /* Adjust padding as needed */
    align-content: center;
    width: 70%;
    height: 50%;
  }

 .slide-img {
    width: 100%;
    max-height: 400px;; /* Maintain aspect ratio */
  }


  